version: '3.8'  # Se recomienda usar la versi칩n 3.8 o superior

services:
  mongodb:
    image: mongo:4.4  # Usa la versi칩n 4.4 de MongoDB
    container_name: mongo_db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=4Dm1nDB*
    ports:
      - 27017:27017  # Permite conexiones desde Windows o la red local
    volumes:
      - ~/mongodb-data:/data/db/mongo  # Corrige la ruta del volumen
    restart: always  # Reinicia el contenedor autom치ticamente si falla
    healthcheck:  # Corrige la indentaci칩n
      test: ["CMD", "mongo", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 30s
      timeout: 15s
      retries: 10
      start_period: 40s
